build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: netlify
  content:
    - key: REACT_APP_BALLOT_ENDPOINT
      value: ''
      proxyPort: true
      port: '30040'
    - key: REACT_APP_EC_SERVER_ENDPOINT
      value: ''
      proxyPort: true
      port: '30042'
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Ishan Rai
lastUpdatedOn: 2023-02-23T06:30:10.895Z
