build:
  type: text
  content: |-
    #!/bin/sh


    export IMAGE_TAG=$ROOST_NAMESPACE
    export PATH=$PATH:/usr/bin:/usr/local/bin
    make build-voter
deploy:
  type: text
  content: |-
    #/bin/sh

    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"
    echo "helm install api-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}"

    helm upgrade ui-${ROOST_ENV_ID} helm-vote -n $ROOST_NAMESPACE --create-namespace ${HELM_OPTS}
test:
  - name: voter
    configType: cypress
    configPath: service-test-suite/voter
uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Mathew Werber
lastUpdatedOn: 2022-10-18T08:18:28.354Z
